@model School.Data.Entities.Qualification

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>Esta seguro de eliminar?</h3>
<div>
    <h4>Qualification</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Qualification1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Qualification1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCourseNoteNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCourseNoteNavigation.IdEnrollment)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdStudentNoteNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdStudentNoteNavigation.IdEnrollment)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdQualification" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> 
        <a asp-action="Index" class="btn btn-secondary">Volver a la lista</a>
    </form>
</div>
