@model School.Data.Entities.Enrollments

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles de matricula</h1>

<div class="table-info col-sm-4">
    <h4>Enrollments</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.IdStudent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdStudent)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.IdCourse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCourse)
        </dd>
        
    </dl>
</div>
<div>
    <div class="btn-group">
        <a asp-action="Edit" asp-route-id="@Model.IdEnrollment" class="btn btn-primary">Edit</a> 
        <a asp-action="Index " class="btn btn-secondary">Volver a la lista</a>
    </div>
</div>
